
CienciasYTecnologia/bin/Release/CienciasYTecnologia.rar
CienciasYTecnologia/bin/Release/Release.rar
CienciasYTecnologia/bin/Release/Biofisqui.rar
CienciasYTecnologia/bin/Debug/Biofisqui#7.rar
CienciasYTecnologia/bin/Debug/cfg/lastuser.cfg
*.cfg
CienciasYTecnologia/bin/Debug/CienciasYTecnologia#1.rar
CienciasYTecnologia/bin/Debug/CienciasYTecnologia#2.rar
CienciasYTecnologia/bin/Debug/CienciasYTecnologia#3.rar
CienciasYTecnologia/bin/Debug/CienciasYTecnologia3#.rar
*.rar
*.exe
*.lock
